Overlay/Title
{
  zorder 100
	container Panel(TitleContainer)
	{
		container Panel(TitleLOGO2)
		{
		  metrics_mode relative
		  vert_align center
		  horz_align center
		  top -0.5
		  left -0.5
		  height 1
		  width 1
		  material Title
		}
	}
}
